body {
	font-family:Trebuchet MS, sans-serif;
	font-size:14px;
}
.collapsible {
  	background-color:#e6a8a3;
 	color: black;
  	cursor: pointer;
  	padding: 15px;
  	width: 100%;
  	border: none;
  	outline:#e6a8a3;
  	text-align: left;
  	font-size: 15px;
}
.active,.collapsible:hover {
	background-color: #e6aeaa;
	outline:#e6a8a3;
}
.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}
.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #accaa1;
}
.linkButtons {
	color:black;
	border-radius:5px;
	padding:3px;
	background-color:#94bb86;
}
.page {
	background-color:#c4d9bc; 
}
table {
	border: 1px solid black;
	border-collapse: collapse;
	width:50%;
	align-content:center;
}
th {
	padding:4px;
	border: 1px solid black;
}
tr {
	border: 1px solid black;
}
td {
	border: 1px solid black;
}
.firstColumn{
	align:center;
}
.textInput{
	border-radius:25px;
	border-width:1px;
	padding:5px;
}
.button{
	background-color:#c4d9bc;
	border-radius:5px;
}
.footer{
	position: fixed;
   	left: 0;
   	bottom: 0;
   	background-color:#94bb86;
	width:100%;
	height:20px;
	position:center;
}
.header{
	position: fixed;
   	right: 0;
   	top: 0;
   	background-color:#94bb86;
	width:100%;
	height:20px;
	position:center;
}
h1{
	color:#193616;
}